# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\fisal\OneDrive\Udacity_Courses\Full Stack Developer Nanodegree - DRAFT\API Development and Documentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
